# Importing Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# Loading the Dataset

In [2]:
data=pd.read_csv('Admission_Predict.csv')
data

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

# Splitting The Data Into Train And Test

In [3]:
y=data['GRE Score']
y

0      337
1      324
2      316
3      322
4      314
      ...
395    324
396    325
397    330
398    312
399    333
Name: GRE Score, Length: 400, dtype: int64

In [4]:
x=data.drop(columns=['GRE Score'],axis=1)
x.head()

,Serial No.,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,118,4,4.5,4.5,9.65,1,0.92
1,2,107,4,4.0,4.5,8.87,1,0.76
2,3,104,3,3.0,3.5,8.00,1,0.72
3,4,110,3,3.5,2.5,8.67,1,0.80
4,5,103,2,2.0,3.0,8.21,0,0.65

In [5]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=50)

In [6]:
x_train.shape

(320, 8)

In [7]:
x_test.shape

(80, 8)

In [8]:
y_train.shape

(320,)

In [9]:
y_test.shape

(80,)

In [10]:
print(x_train.shape,x_test.shape)

(320, 8) (80, 8)